.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
src/*.o
src/*.so
src/*.dll
scratch*
background/*
experimental/*
test_builds/*
vignette_all/*
manuscript/*
data-create/*
help/*
*.swp
inst/doc
dev/*
/doc/
/Meta/
